<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851078008919-h5kon38r5hu2pn8ggg0mamjsevkv75oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851078008919-h5kon38r5hu2pn8ggg0mamjsevkv75oa</string>
	<key>API_KEY</key>
	<string>AIzaSyAWgr5aW3K1MRHU8AYdn9-tClXaApLrpdA</string>
	<key>GCM_SENDER_ID</key>
	<string>851078008919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quality.app</string>
	<key>PROJECT_ID</key>
	<string>quality-control-5e9c6</string>
	<key>STORAGE_BUCKET</key>
	<string>quality-control-5e9c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851078008919:ios:b5670a69bfee79f4471312</string>
</dict>
</plist>